<template>
  <v-container>
    <v-tabs
      v-model="tab"
      ve
    >
      <v-tab>{{this.tabTitle[0]}}</v-tab>
      <v-tab :disabled="usuario.role !== `PROFESSOR`">{{this.tabTitle[1]}}</v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item>
        <tabela-documento></tabela-documento>
      </v-tab-item>
      <v-tab-item>
        <h1> sem nada irmx </h1>
      </v-tab-item>
    </v-tabs-items>
  </v-container>
</template>

<script>
import {mapActions, mapState} from "vuex";
import TabelaDocumento from "@/modules/documento/components/TabelaDocumento";

export default {
  components: {TabelaDocumento},
  data: () => ({
    tab: null,
    tabTitle: ['Modelos de Documento', 'Documentos Preenchidos']
  }),
  methods: {
    ...mapActions("documento", ["ActionGetTitulosDocumento"]),
    goTo(item) {
      this.$router.push(`/home/documento/${item.titulo}`);
    },
    goToDocumentosPreenchidos() {
      this.$router.push(`/home/documentos-preenchidos`)
    }
  },
  computed: {
    ...mapState("documento", ["titulos"]),
    ...mapState("login", ['usuario'])
  },
  mounted() {
    this.ActionGetTitulosDocumento();
  }
};
</script>

<style></style>
