<template>
  <v-container>
    <v-row class="pt-8 pb-8 align-items-center align-center" >
      <v-btn icon class="mr-10" @click="goBack()">
        <v-icon>
          mdi-arrow-left
        </v-icon>
      </v-btn>
      <h4>Documentos Preenchidos</h4>
    </v-row>


  </v-container>
</template>

<script>
export default {
  name: "DocumentosPreenchidos",
  methods: {
    goBack(){
      this.$router.go(-1)
    }
  }
}
</script>

<style scoped>

</style>
