<template>
  <v-container>
    <v-row align="center" class="pt-8 pb-8 ml-10">
      <v-btn icon class="mr-10" @click="goBack">
        <v-icon>
          mdi-arrow-left
        </v-icon>
      </v-btn>
      <h5>Novo Modelo de Documento</h5>
    </v-row>
    <v-stepper v-model="e1">
      <v-stepper-header>
        <v-stepper-step :complete="e1 > 1" step="1" editable>
          Nome e Descrição
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 2" step="2">
          Campos para Preenchimento
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step step="3">
          Conferencia e Finalização
        </v-stepper-step>
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content step="1">
          <v-card class="mb-12">
            <v-text-field
              class="pa-4"
              dense
              outlined
              placeholder="Ex: Admissão"
              label="Nome modelo"
              clearable
              hide-details
              v-model="tituloDocumento"
            />
            <v-textarea
              class="pa-4"
              dense
              outlined
              placeholder="Ex: Descorra sobre o Exemplo"
              label="Descrição do Modelo"
              clearable
              hide-details
              v-model="descricaoDocumento"
            />
          </v-card>

          <v-btn
            color="primary"
            @click="e1 = 2"
            :disabled="!(tituloDocumento && descricaoDocumento)"
          >
            Continuar
          </v-btn>

          <v-btn text>
            Cancelar
          </v-btn>
        </v-stepper-content>

        <v-stepper-content step="2">
          <v-card class="mb-12">
            <v-data-table
              :headers="headers"
              :items="itemDocumentos"
              class="elevation-1"
            >
              <template v-slot:top>
                <v-toolbar>
                  <v-dialog v-model="dialog"
                            fullscreen
                            transition="dialog-bottom-transition">
                    <template v-slot:activator="{ on, attrs }">

                     <v-row >
                       <v-col class="offset-md-10">
                         <v-btn
                           color="success"
                           dark
                           class="mb-2"
                           v-bind="attrs"
                           v-on="on">

                           <v-icon>
                             mdi-plus
                           </v-icon>

                           Novo Item

                         </v-btn>
                       </v-col>

                     </v-row>
                    </template>
                    <v-row justify="center">
                      <v-dialog
                        v-model="dialog"
                        fullscreen
                        hide-overlay
                        transition="dialog-bottom-transition"
                      >

                        <v-card>
                          <v-toolbar
                            dark
                            color="primary"
                          >
                            <v-btn
                              icon
                              dark
                              @click="close"
                            >
                              <v-icon>mdi-close</v-icon>
                            </v-btn>
                            <v-toolbar-title>Novo Item</v-toolbar-title>

                            <v-spacer></v-spacer>
                            <v-toolbar-items>
                              <v-btn
                                dark
                                text
                                @click="save"
                              >
                                Salvar
                              </v-btn>
                            </v-toolbar-items>

                          </v-toolbar>

                          <v-container>
                            <v-row class="mt-2">
                              <v-col class="col-12 ">
                                <v-text-field
                                  v-model="editedItem.tituloItemDocumento"
                                  label="Nome do Campo"
                                  outlined>
                                </v-text-field>
                              </v-col>
                            </v-row>

                            <v-row>
                              <v-col class="col-12 ">

                                <v-textarea
                                  dense
                                  outlined
                                  label="Descrição"
                                  clearable
                                  hide-details
                                  v-model="editedItem.descricao"
                                />

                              </v-col>
                            </v-row>

                            <v-row align="top">
                              <v-col class="col-xl-12 col-sm-6 col-md-9 col-lg-9">
                                <v-container fluid>
                                  <v-switch
                                    class="float-md-left"
                                    v-model="editedItem.isItemDocumentoObrigatorio"
                                    color="success"
                                    label="Item é obrigatório"
                                    hide-details
                                  ></v-switch>
                                </v-container>
                              </v-col>



                              <v-col class="col-xl-12 col-sm-6 col-md-3 col-lg-3">
                                <v-radio-group
                                  v-model="editedItem.tipoCampo"
                                  label="Tipo do Campo"
                                >
                                  <v-radio
                                    label="Texto"
                                    value="Texto"
                                  ></v-radio>
                                  <v-radio
                                    label="Data-Hora"
                                    value="Data e Hora"
                                  ></v-radio>
                                  <v-radio
                                    label="Verdadeiro ou Falso"
                                    value="Sim ou Não"
                                  ></v-radio>
                                  <v-radio
                                    label="Número"
                                    value="Número"
                                  ></v-radio>
                                  <v-radio
                                    label="Decimal"
                                    value="Decimal"
                                  ></v-radio>
                                </v-radio-group>
                              </v-col>
                            </v-row>
                            <!--                           <v-divider></v-divider>-->
                          </v-container>

                        </v-card>
                      </v-dialog>
                    </v-row>


                  </v-dialog>
                  <v-dialog v-model="dialogDelete" max-width="500px">
                    <v-card>
                      <v-card-title class="headline"
                      >Você quer excluir esse item ?
                      </v-card-title>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="closeDelete"
                        >Cancelar
                        </v-btn>
                        <v-btn
                          color="blue darken-1"
                          text
                          @click="deleteItemConfirm"
                        >Confirmar
                        </v-btn
                        >
                        <v-spacer></v-spacer>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-toolbar>
              </template>
              <template v-slot:item.actions="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)">
                  mdi-pencil
                </v-icon>
                <v-icon small @click="deleteItem(item)">
                  mdi-delete
                </v-icon>
              </template>
              <template v-slot:no-data>
                Sem itens
              </template>
            </v-data-table>
            <v-spacer/>
          </v-card>

          <v-btn color="primary" @click="e1 = 3">
            Continuar
          </v-btn>
          <v-btn text @click="e1 = 1">
            Voltar
          </v-btn>
        </v-stepper-content>

        <v-stepper-content step="3">
          <v-card class="mb-12 pa-2">
            <h4 class="pa-2">{{ tituloDocumento }}</h4>
            <v-textarea
              class="pa-2"
              :value="descricaoDocumento"
              disabled
            ></v-textarea>
            <v-data-table
              :headers="headers"
              :items="itemDocumentos"
              class="elevation-1"
            >
              <template v-slot:item.actions="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)">
                  mdi-pencil
                </v-icon>
                <v-icon small @click="deleteItem(item)">
                  mdi-delete
                </v-icon>
              </template>
              <template v-slot:no-data>
                Sem itens
              </template>
            </v-data-table>
          </v-card>
          <v-btn color="success" @click="validarESalvarModelo()">
            Finalizar e Salvar
          </v-btn>

          <v-btn text @click="e1 = 2">
            Voltar
          </v-btn>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </v-container>
</template>
<script>
import {mapActions} from "vuex";
import {formToApi} from "../utils/formToApi";

export default {
  data: () => ({
    dialog: false,
    e1: 1,
    dialogDelete: false,
    tituloDocumento: "",
    descricaoDocumento: "",
    headers: [
      {
        text: "Nome do Campo",
        value: "tituloItemDocumento",
        align: "start"
      },
      {
        text: "Tipo",
        value: "tipoCampo",
        align: "start",
        sortable: false
      },
      {
        text: "Obrigatório ?",
        sortable: false,
        value: "isItemDocumentoObrigatorio",
        align: "start"
      },
      {
        text: "Quantidade Maxima",
        sortable: false,
        value: "qtdMaximaRegistros",
        align: "start"
      },
      {
        text: "Descrição",
        value: "descricao",
        align: "start"
      },
      {text: "Ações", value: "actions", sortable: false}
    ],
    itemDocumentos: [],
    editedIndex: -1,
    editedItem: {
      tituloItemDocumento: "",
      isItemDocumentoObrigatorio: false,
      qtdMaximaRegistros: 1,
      tipoCampo: 0
    },
    defaultItem: {
      tituloItemDocumento: "",
      isItemDocumentoObrigatorio: false,
      qtdMaximaRegistros: 1,
      tipoCampo: 0
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Novo Item" : "Editar Item";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    }
  },

  methods: {
    ...mapActions("documento", ["ActionGetTitulosDocumento"]),
    goBack() {
      this.$router.go(-1);
    },

    editItem(item) {
      this.editedIndex = this.itemDocumentos.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    incrementQuantity() {
      this.editedItem.qtdMaximaRegistros = this.editedItem.qtdMaximaRegistros + 1
    },
    decrementQuantity() {
      this.editedItem.qtdMaximaRegistros = this.editedItem.qtdMaximaRegistros - 1
    },

    deleteItem(item) {
      this.editedIndex = this.itemDocumentos.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.itemDocumentos.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.itemDocumentos[this.editedIndex], this.editedItem);
      } else {
        this.itemDocumentos.push(this.editedItem);
      }
      this.close();
    },

    validarESalvarModelo() {
      const modeloDocumento = {
        tituloDocumento: this.tituloDocumento,
        itemDocumentos: this.itemDocumentos
      };
      formToApi(modeloDocumento).then(() => {
        this.ActionGetTitulosDocumento();
        this.$router.push("/home/documento");
      });
    }
  }
};
</script>

<style></style>
