<template>
  <v-container>
    <v-row align="center" class="pt-8 pb-8">
      <v-btn icon class="mr-10" @click="goBack">
        <v-icon>
          mdi-arrow-left
        </v-icon>
      </v-btn>
      <h3>Preencher documento</h3>
    </v-row>
    <v-card>
      <v-card-title>
        {{ titulo }}
      </v-card-title>
      <v-form v-model="valid" class="pa-4" onsubmit="getData()">
        <v-jsf v-model="dataModel" :schema="dataSchema"></v-jsf>
        <v-jsf v-model="switchModel" :schema="switchSchema"></v-jsf>
        <v-jsf v-model="textModel" :schema="textSchema"></v-jsf>
        <v-btn @click="getData()" color="success">Enviar</v-btn>
      </v-form>
    </v-card>
  </v-container>
</template>

<script>
import getDocumentosPeloTituloDaApi from "../services/getDocumentosPeloTituloDaApi";
import {constroiFormSchema} from "../utils/constroiFormSchema";
import {constroiDataFormSchema} from '../utils/constroiDataFormSchema'
import {constroiSwitchFormSchema} from '../utils/constroiSwitchFormSchema'
import VJsf from "@koumoul/vjsf/lib/VJsf.js";
import {addDocumento} from "@/modules/documento/services/addDocumento";
import {formToResponse} from "@/modules/documento/utils/formToResponse";

export default {
  components: {VJsf},
  data: () => ({
    dataSchema: {},
    dataModel: {},
    switchSchema: {},
    switchModel: {},
    titulo: "",
    textModel: {},
    textSchema: {},
    itemsDocumento: [],
    valid: false
  }),
  methods: {
    getData() {
      const full = {
        ...this.textModel, ...this.switchModel, ...this.dataModel
      }
      formToResponse(full, this.itemsDocumento)
      addDocumento(full)

    },
    async loadData() {
      this.itemsDocumento = await getDocumentosPeloTituloDaApi(this.titulo);
      console.log(this.itemsDocumento)

      this.textSchema = constroiFormSchema(this.itemsDocumento);
      this.dataSchema = constroiDataFormSchema(this.itemsDocumento)
      this.switchSchema = constroiSwitchFormSchema(this.itemsDocumento)
    },
    goBack() {
      this.$router.go(-1);
    }
  },
  mounted() {
    this.titulo = this.$router.history.current.params.titulo;
    this.loadData();
  },
  watch: {
    $route() {
      this.titulo = this.$route.params.titulo;
      this.loadData();
    }
  }
};
</script>

<style></style>
