<template>
  <v-container>
    <cadastro-paciente/>
  </v-container>
</template>

<script>
import CadastroPaciente from "../components/CadastroPaciente.vue";

export default {
  components: {
    CadastroPaciente
  },
};
</script>
